.img-logo{
    height: 80px;
    width: 200px;
    margin-top: 20px;
}
.search-btn{
    border:rgb(79, 214, 248) 1px solid;
}
.search-icon{
    height: 25px;
    padding-bottom: 10px;
}
#search-div{
    margin-top: 30px;
    height: 30px;
    width: 300px;
}
.nav-1{
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    
}
#nav-1-li{
    color: rgb(231, 0, 123);
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 20px;
}
#nav-1-li:hover{
    color: rgb(226, 121, 177);
}
#nav-1-container{
    height: 70px;
    margin-top: 50px;
    margin-left: 300px;
}
#nav-2{
    width: 1200px;
    margin-left: 300px;
    border-top: gray 1px solid;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 17px;
    padding: 10px 20px;
}
@media all and (min-width: 992px) {
.navbar .nav-item .dropdown-menu
{ display: none; }
.navbar .nav-item:hover .nav-link
{  }
.navbar .nav-item:hover .dropdown-menu{ 
display: flex; 
flex-direction: row;
justify-content: center;
}
.navbar .nav-item:hover .dropdown-item{
    width: 300px;
    height: 230px;
    padding: 20px;
    margin-left: 20px;
}
.navbar .nav-item:hover .dropdown-item #card-body-cus{
    padding: 10px;
    margin-top: 5px;
}
.navbar .nav-item:hover .dropdown-item #card-title-cus{
    
    word-wrap: break-word;
    font-size: 20px;
}
.navbar .nav-item:hover #blogs-img{
height: 150px;
width: 250px;}	
}
.container-right-top{
position: absolute;
left: 1500px;
top: 75px;
display: flex;
justify-content: right;

}
.login, .cart-sign{
margin-right: 20px;
}
.cart-img{
height: 40px;
}
.cart-img:hover{
height: 45px;
}
.login{
padding-top: 8px;
margin-right: 30px;
}
.login a:hover{
color: rgb(236, 36, 113);
font-size: 22px;
}
.login a{
text-decoration: none;
color: dimgrey;
font-family: 'Montserrat', sans-serif;
font-size: 20px;
}
#nav-2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    
}
#nav-2 a:hover{
    color: rgb(173, 0, 87);
}
.makeup{
    margin-top: 15px;
}
.nav-2-items{
    padding-top: 0px;
}
.top-section{
    margin-left: 70px;
    width: 1500px;
}
